 # Scraping Google Play Store reviews
google-play-scraper

# Data processing
pandas

# Natural Language Processing / sentiment analysis
nltk
transformers
torch
scikit-learn

# Data visualization
matplotlib
seaborn

psycopg2-binary
python-dotenv
